.vscode
.vscode/*
encryptgig-client/.firebase/hosting.YnVpbGQ.cache
encryptgig-client/.firebaserc
encryptgig-client/firebase.json
encryptgig-client/package.json
encryptgig-client/package-lock.json
encryptgig-client/package-lock.json
encryptgig-client/package-lock.json
encryptgig-client/package-lock.json
